@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900,300,500,600,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,500,600,800');
@font-face {
  font-family: 'FormulaCondensed';
  font-weight: 700;
  src: url('/fonts/FormulaCondensed-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'FormulaCondensed';
  font-weight: 300;
  src: url('/fonts/FormulaCondensed-Light.otf') format('opentype');
}

/* Variables */

:root {
  --black: rgba(0, 0, 0, 1);
  --robins-egg-blue: rgba(0, 200, 200, 1);
  --black-pearl: rgba(6, 16, 43, 1);
  --tangaroa: rgba(13, 27, 64, 1);
  --midnight: rgba(15, 26, 54, 1);
  --eucalyptus: rgba(33, 150, 83, 0.059);
  --eucalyptus-2: rgba(33, 150, 83, 1);
  --ebony-clay: rgba(38, 47, 71, 1);
  --blue: rgba(47, 128, 237, 1);
  --fiord: rgba(71, 85, 105, 1);
  --electric-violet: rgba(87, 0, 255, 1);
  --purple-heart: rgba(93, 29, 241, 1);
  --mantis: rgba(95, 206, 99, 1);
  --viking2: rgba(100, 225, 220, 0.059);
  --viking-22: rgba(100, 225, 220, 1);
  --blue-jeans: rgba(102, 166, 255, 0.2);
  --blue-jeans-2: rgba(102, 166, 255, 1);
  --aqua-pearl: rgba(106, 179, 223, 1);
  --dove-gray: rgba(112, 112, 112, 0.4);
  --gunsmoke: rgba(132, 132, 132, 1);
  --stack: rgba(138, 138, 138, 0.059);
  --star-dust: rgba(158, 158, 158, 1);
  --quick-silver: rgba(165, 165, 165, 1);
  --purple-plum: rgba(169, 69, 247, 1);
  --heliotrope: rgba(176, 77, 255, 1);
  --nobel: rgba(180, 180, 180, 0.4);
  --hot-magenta: rgba(195, 31, 230, 1);
  --iron: rgba(216, 216, 216, 1);
  --cerise: rgba(216, 35, 156, 1);
  --raw-sienna: rgba(218, 125, 76, 1);
  --alto: rgba(219, 219, 219, 0.059);
  --alto-2: rgba(219, 219, 219, 0.149);
  --bon-jour: rgba(223, 223, 223, 0.102);
  --mystic: rgba(226, 232, 240, 1);
  --white-6: rgba(255, 255, 255, 0.039);
  --white-43: rgba(255, 255, 255, 0.059);
  --white-3: rgba(255, 255, 255, 0.102);
  --white-5: rgba(255, 255, 255, 0.129);
  --white-62: rgba(255, 255, 255, 0.149);
  --white-52: rgba(255, 255, 255, 0.169);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-42: rgba(255, 255, 255, 0.502);
  --white-53: rgba(255, 255, 255, 0.698);
  --white: rgba(255, 255, 255, 1);
  --opacity-white-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-white-35: rgba(255, 255, 255, 0.35);
  --opacity-white-white-50: rgba(255, 255, 255, 0.5);
  --main-dark: #06112b;
  --main-pink: #b14eff;
  --opacity-pink-pink-10: rgba(177, 78, 255, 0.1);
  --opacity-pink-pink-50: rgba(177, 78, 255, 0.5);

  --font-size-xs: 10px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-s2: 12px;
  --font-size-s: 9px;

  --font-family-montserrat: 'Montserrat';
  --font-family-montserrat-black: 'Montserrat-Black';
  --font-family-montserrat-extrabold: 'Montserrat-ExtraBold';
  --font-family-montserrat-light: 'Montserrat-Light';
  --font-family-montserrat-medium: 'Montserrat-Medium';
  --font-family-montserrat-mediumitalic: 'Montserrat-MediumItalic';
  --font-family-montserrat-regular: 'Montserrat-Regular';
  --font-family-montserrat-semibold: 'Montserrat-SemiBold';

  --font-family-formulacondensed: 'FormulaCondensed';

  --radius-full: 9999px;
}

/* Classes */

.montserrat-black-white-43-3px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: 43.31698226928711px;
  font-weight: 900;
  font-style: normal;
}
.montserrat-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.montserrat-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.montserrat-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.montserrat-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.montserrat-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.montserrat-bold-aqua-pearl-24px {
  color: var(--aqua-pearl);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 300;
  font-style: normal;
}
.montserrat-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.montserrat-medium-eucalyptus-12px {
  color: var(--eucalyptus-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.border-1px-mystic {
  border-width: 1px;
  border-style: solid;
  border-color: var(--mystic);
}
.montserrat-bold-iron-20px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-black-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  font-style: normal;
}
.montserrat-medium-viking-12px {
  color: var(--viking-22);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium-eucalyptus-12px {
  color: var(--eucalyptus-2);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-bold-iron-32px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
}
.montserrat-mediumitalic-medium-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat-mediumitalic);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: italic;
}
.montserrat-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.montserrat-black-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat-black);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  font-style: normal;
}
.montserrat-regular-normal-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.montserrat-semi-bold-white-24px {
  color: var(--white-53);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  font-style: normal;
}
.montserrat-semi-bold-black-pearl-16px {
  color: var(--black-pearl);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold-white-16px {
  color: var(--white-42);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi-bold-black-pearl-12px {
  color: var(--black-pearl);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.montserrat-semi-bold-black-pearl-16px {
  color: var(--black-pearl);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold-robins-egg-blue-24px {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.border-1px-white-2 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--white-2);
}
.montserrat-medium-viking-12px {
  color: var(--viking-22);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  font-style: normal;
}
.montserrat-bold-iron-24px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi-bold-white-20px {
  color: var(--white-42);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  font-style: normal;
}
.montserrat-medium-gunsmoke-12px {
  color: var(--gunsmoke);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-bold-white-16px-2 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.montserrat-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.montserrat-medium-quick-silver-12px {
  color: var(--quick-silver);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-normal-iron-11px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}
.montserrat-semi-bold-fiord-12px {
  color: var(--fiord);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.border-1px-viking {
  border-width: 1px;
  border-style: solid;
  border-color: var(--viking-22);
}
.montserrat-semi-bold-white-24px {
  color: var(--white-53);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.montserrat-medium-quick-silver-12px {
  color: var(--quick-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-light-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.montserrat-normal-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.montserrat-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular-normal-iron-11px {
  color: var(--iron);
  font-family: var(--font-family-montserrat-regular);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}
.montserrat-light-iron-16px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 300;
  font-style: normal;
}
.montserrat-medium-gunsmoke-12px {
  color: var(--gunsmoke);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-extra-extra-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat-extrabold);
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-style: normal;
}
.montserrat-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.montserrat-bold-black-pearl-20px {
  color: var(--black-pearl);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 700;
  font-style: normal;
}
.montserrat-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi-bold-black-pearl-12px {
  color: var(--black-pearl);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold-iron-18px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-bold-aqua-pearl-18px {
  color: var(--aqua-pearl);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.montserrat-medium-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.montserrat-light-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.montserrat-black-white-43-3px {
  color: var(--white-2);
  font-family: var(--font-family-montserrat-black);
  font-size: 43.31698226928711px;
  font-weight: 900;
  font-style: normal;
}
.montserrat-semi-bold-fiord-12px {
  color: var(--fiord);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.montserrat-medium-iron-14px {
  color: var(--iron);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: italic;
}
.montserrat-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.montserrat-extra-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-style: normal;
}
.montserrat-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-y: visible !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;

  display: flex;
  flex-direction: column;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 20px;
}
